.bg-red    {background: red         ;}
.bg-orgred {background: orangered   ;}
.bg-orange {background: orange      ;}
.bg-yellow {background: yellow      ;}
.bg-grnylw {background: greenyellow ;}
.bg-ylwgrn {background: yellowgreen ;}
.bg-green  {background: green       ;}
.bg-blue   {background: blue        ;}
.bg-indigo {background: indigo      ;}
.bg-bluvlt {background: blueviolet  ;}
.bg-violet {background: violet      ;}
.bg-black  {background: black       ;}
.bg-gray   {background: gray        ;}